@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.bg-cover-about {
  display: block;
  position: relative;
}

.bg-cover-about::after {
  background-image: url(../img/bg-main.png);
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.past-event-1 {
  background-image: url(../img/conf2018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;

  a {
    display: block;
    background-color: $color-red;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  h2 {
    color: $color-white;
    z-index: 998;
  }

  h3 {
    color: $color-white;
    z-index: 998;
  }
}

.past-event-2 {
  background-image: url(../img/conf2018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    background-color: $color-red;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  h2 {
    color: $color-white;
    z-index: 998;
  }

  h3 {
    color: $color-white;
    z-index: 998;
  }
}

.container-cover-about {
  z-index: 5;
  width: 100%;
  height: 85vh;
  padding: 5vh 10vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;

  h1 {
    font-family: "Cocogoose", sans-serif;
    font-weight: 500;
    font-size: 4.3vw;
    color: $color-orange;
    text-transform: uppercase;
    padding-bottom: 3vh;
    background-image: url(../img/bg-text.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    width: 50vw;
  }

  span {
    height: 1px;
    padding: 1px;
    background-color: $color-orange;
    content: "";
    display: block;
    width: 5vw;
    margin-bottom: 2vw;
  }

  h2 {
    font-family: "lato", sans-serif;
    font-weight: 100;
    font-size: 3vw;
    color: $color-orange;
    padding-bottom: 4vh;
  }

  p {
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 70vw;
    padding: 3vh 3vw;
    font-family: "lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.1vw;
    -webkit-box-shadow: 0 0 8px 4px $color-gray-2;
    -moz-box-shadow: 0 0 8px 4px $color-gray-2;
    box-shadow: 0 0 8px 4px $color-gray-2;
    text-align: center;
  }

  h3 {
    font-family: "lato", sans-serif;
    color: $color-dark;
    font-size: 1.1vw;
    text-transform: initial;
    padding-top: 4vh;
    font-weight: 500;
  }

  h4 {
    font-family: "lato", sans-serif;
    color: $color-dark;
    font-size: 1.1vw;
    text-transform: initial;
    padding-top: 4vh;
    font-weight: 700;

    a {
      text-decoration: underline;
      color: inherit;
      line-height: 20px;
    }
  }
}

.container-creative-comm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  border-top: 1px solid $color-gray;

  h2 {
    font-family: "lato", sans-serif;
    color: black;
    font-size: 2vw;
    padding-bottom: 5vh;
  }

  span {
    height: 1px;
    padding: 1px;
    background-color: $color-orange-light;
    content: "";
    display: block;
    width: 3vw;
    margin-bottom: 3vh;
  }

  p {
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 70vw;
    padding: 3vh 3vw;
    font-family: "lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.1vw;
    text-align: center;
  }
}

.img-logo-creative {
  border: 1px solid $color-gray;
  margin-top: 4vh;
  padding: 4vh 6vw;
  -webkit-box-shadow: 0 0 8px 4px $color-gray-2;
  -moz-box-shadow: 0 0 8px 4px $color-gray-2;
  box-shadow: 0 0 8px 4px $color-gray-2;
}

.container-past-events {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  border-top: 1px solid $color-gray;

  h2 {
<<<<<<< HEAD
    font-family: "lato", sans-serif;
=======
    font-family: "lato";
    color: $color-black;
>>>>>>> feature
    font-size: 2vw;
    padding-bottom: 3vh;
    font-weight: bold;
  }

  h3 {
    font-family: 1.4vw;
<<<<<<< HEAD
    font-family: "lato", sans-serif;
=======
    font-family: "lato";
>>>>>>> feature
    padding: 0 3vw;
    text-align: center;
  }

  span {
    height: 1px;
    padding: 1px;
    background-color: $color-orange-light;
    content: "";
    display: block;
    width: 3vw;
    margin-bottom: 3vh;
  }

  p {
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 70vw;
    padding: 0 3vw;
    font-family: "lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.1vw;
    text-align: center;
  }
}

.list-past-pictures {
  padding-top: 3vh;
  display: flex;
  flex-flow: row;
}

<<<<<<< HEAD
#subtitle-about {
  display: none;
}

@media (max-width: 991px) {
  .container-cover-about {
=======
.past-event-1 {
  background-image: url(../img/conf2018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;

  a {
    display: block;
    background-color: $color-red;
    opacity: 0.5;
    width: 100%;
>>>>>>> feature
    height: 100%;

    p {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 1.4vw;
    }

    h4 {
      font-size: 1.6vw;
    }
  }

<<<<<<< HEAD
  .container-creative-comm {
    h2 {
      font-size: 2.4vw;
    }

    p {
      font-size: 1.4vw;
    }
=======
.past-event-2 {
  background-image: url(../img/conf2018.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 30vh;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  justify-content: center;

  a {
    display: block;
    background-color: $color-red;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
>>>>>>> feature
  }

  .img-logo-creative {
    padding: 4vh 8vw;
  }

  .container-past-events {
    p {
      font-size: 1.4vw;
    }

    h2 {
      font-size: 2.4vw;
      padding-bottom: 3vh;
    }
  }
}

<<<<<<< HEAD
@media (max-width: 767px) {
  .container-cover-about {
    p {
      font-size: 1.7vw;
    }

    h1 {
      font-size: 5.2vw;
    }

    h3 {
      font-size: 1.7vw;
    }

    h4 {
      font-size: 1.7vw;
    }
  }

=======
#subtitle-about {
  display: none;
}

@media (max-width: 991px) {
  .container-cover-about {
    height: 100%;

    p {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 1.4vw;
    }

    h4 {
      font-size: 1.6vw;
    }
  }

  .container-creative-comm {
    h2 {
      font-size: 2.4vw;
    }

    p {
      font-size: 1.4vw;
    }
  }

  .img-logo-creative {
    padding: 4vh 8vw;
  }

  .container-past-events {
    p {
      font-size: 1.4vw;
    }

    h2 {
      font-size: 2.4vw;
      padding-bottom: 3vh;
    }
  }
}

@media (max-width: 767px) {
  .container-cover-about {
    p {
      font-size: 1.7vw;
    }

    h1 {
      font-size: 5.2vw;
    }

    h3 {
      font-size: 1.7vw;
    }

    h4 {
      font-size: 1.7vw;
    }
  }

>>>>>>> feature
  .list-past-pictures {
    flex-flow: column;
  }

  .past-event-1 {
    margin-top: 3vh;
    width: 80vw;
    height: 50vh;
  }

  .past-event-2 {
    margin-top: 3vh;
    width: 80vw;
    height: 50vh;
  }

  .container-creative-comm {
    p {
      font-size: 1.7vw;
    }
  }

  #subtitle-about {
    display: initial;
  }
}

@media (max-width: 576px) {
  .container-cover-about {
    h1 {
      font-size: 6.2vw;
    }

    h2 {
      font-size: 3.5vw;
    }

    h3 {
      font-size: 2.2vw;
    }

    h4 {
      font-size: 2.4vw;
    }

    p {
<<<<<<< HEAD
      font-size: 2.2vw;
=======
      font-size: 2.2vw;;
>>>>>>> feature
    }
  }

  .container-creative-comm {
    h2 {
      font-size: 2.9vw;
    }

    p {
      font-size: 2.2vw;
    }
  }

  .container-past-events {
    h2 {
      font-size: 2.9vw;
    }

    p {
      font-size: 2.2vw;
    }
  }
}
