$color-dark: #272a31;
$color-orange: #ec5242;
$color-orange-1: #ffece9;
$color-gray: #d3d3d3;
$color-gray-1: #fbfbfb;
$color-gray-2: #efefef;
$color-white: #fff;
$color-black: #000;
$color-orange-light: #ffca4c;
$color-red: #f00;
$color-pink: #ffc0cb;
