@import '../scss/colors.scss';

.f-lg-goose-5-3-500 {
  font-family: "Cocogoose", sans-serif;
  font-weight: 500;
  font-size: 5.3vw;
  color: $color-orange;
  text-transform: uppercase;
}

.f-lg-goose-2-5-600 {
  font-family: "Cocogoose", sans-serif;
  color: $color-dark;
  font-size: 2.5vw;
  text-transform: uppercase;
}

.f-lg-lato-3-0-100 {
  font-family: "lato", sans-serif;
  font-weight: 100;
  font-size: 3vw;
  color: $color-orange;
}

.f-lg-lato-2-0-500 {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 2vw;
}

.f-lg-lato-1-8-bolder {
  font-family: "lato", sans-serif;
  text-transform: capitalize;
  font-size: 1.8vw;
  font-weight: bolder;
}

.f-lg-lato-1-4-600 {
  font-family: "lato", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: $color-orange-light;
  margin-bottom: 10px;
}

.f-lg-lato-1-2-500 {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 1.2vw;
}

.f-lg-lato-1-2-300 {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  line-height: 25px;
  color: $color-white;
}

.f-lg-lato-0-9-400 {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: $color-dark;
}

.f-lg-lato-0-9-400-w {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: $color-white;
}

.f-lg-lato-0-9-700 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: $color-dark;
}

.f-lg-lato-0-8-600 {
  font-family: "lato", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.f-lg-lato-0-8-500 {
  font-family: "lato", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: $color-white;
}
