@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.footer-container-dark {
  width: 100%;
  height: 40vh;
  background-color: $color-dark;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}

.content-footer-dark {
  padding-left: 4vw;

  h2 {
    padding-bottom: 1vw;
    font-family: "lato", sans-serif;
    font-weight: bold;
    color: $color-white;
  }

  p {
    font-family: "lato", sans-serif;
    line-height: 20px;
    color: $color-white;

    a {
      font-weight: bold;
      text-decoration: none;
      color: $color-white;
    }
  }
}

.img-footer {
  width: 20vw;
}

@media (max-width: 767px) {
  .footer-container-dark {
    height: 100%;
    padding: 10vh 5vw;
  }

  .content-footer-dark {
    padding: 0;

    h2 {
      padding-top: 3vh;
      text-align: center;
      padding-bottom: 3vh;
    }

    p {
<<<<<<< HEAD
=======
      padding: 0;
>>>>>>> feature
      text-align: center;
      padding: 0 6vw;

      a {
        font-weight: bold;
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  .img-footer {
    width: 40vw;
  }
}
