
@media (max-width: 991px) {
  .container-cover {
    p {
      width: 60vw;
      font-size: 2vw;
    }

    h3 {
      font-size: 3vw;
      padding-top: 4vh;
    }

    h4 {
      font-size: 2.1vw;
      padding-top: 4vh;
    }
  }

  .container-cover-about {
    height: 100%;

    p {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 1.4vw;
    }

    h4 {
      font-size: 1.6vw;
    }
  }

  .container-creative-comm {
    h2 {
      font-size: 2.4vw;
    }

    p {
      font-size: 1.4vw;
    }
  }

  .img-logo-creative {
    padding: 4vh 8vw;
  }

  .container-past-events {
    p {
      font-size: 1.4vw;
    }

    h2 {
      font-size: 2.4vw;
      padding-bottom: 3vh;
    }
  }

  .container-tickets-main {
    h2 {
      font-size: 2.3vw;
    }
  }

  .step1 {
    h4 {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 1.4vw;
    }
  }

  .container-lunch-options {
    h2 {
      font-size: 2.3vw;
    }
  }

  .step2 {
    h4 {
      font-size: 1.4vw;
    }

    h3 {
      font-size: 1.4vw;
    }
  }

  .table-prices {
    width: 80vw;
  }

  .table-lunch-options {
    width: 80vw;
  }
}
