
@media (max-width: 991px) {
  .container-cover {
    p {
      width: 60vw;
    }

    h3 {
      padding-top: 4vh;
    }

    h4 {
      padding-top: 4vh;
    }
  }

  .container-cover-about {
    height: 100%;

    h1 {
      width: 70vw;
    }

    h4 {
      font-size: 1.6vw;
    }
  }

  .img-logo-creative {
    padding: 4vh 8vw;
  }

  .container-past-events {
    p {
      font-size: 1.4vw;
    }

    h2 {
      padding-bottom: 5vh;
    }
  }

  .step1 {
    padding: 3vh 7vw;
    width: 70vw;

    h3 {
      font-size: 1.5vw;
    }
  }

  .step2 {
    padding: 3vh 7vw;
    width: 70vw;

    h3 {
      font-size: 1.5vw;
    }
  }

  .table-prices {
    width: 80vw;
  }

  .table-lunch-options {
    width: 80vw;
  }

  .f-section-title {
    font-size: 2.5vw;
  }

  .f-title-activitie {
    font-size: 1.6vw;
  }

  .f-paragraph-activities {
    font-size: 1.5vw;
    line-height: 20px;
  }

  .f-cover-big-title {
    font-size: 7.3vw;
  }

  .f-title-email {
    font-size: 1.7vw;
  }

  .f-title-logo-ecommerce {
    font-size: 2vw;
  }

  .f-paragraph-info {
    font-size: 1.5vw;
  }
}
