#top-bar-1 {
  display: inherit;
}

#top-bar-2 {
  display: none;
}

.top-bar-md {
  position: relative;
}

.ham-bars {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  top: 10px;
  left: 20px;
}
