.container-tickets-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  background-color: $color-gray-1;

  h2 {
    font-family: "lato", sans-serif;
    color: $color-black;
    font-size: 2vw;
    padding-bottom: 5vh;
  }

  span {
    height: 1px;
    padding: 1px;
    background-color: $color-orange-light;
    content: "";
    display: block;
    width: 3vw;
    margin-bottom: 3vh;
  }

  p {
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 70vw;
    padding: 3vh 3vw;
    font-family: "lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.1vw;
    text-align: center;
  }
}

.step1 {
  display: flex;
  flex-flow: row;
  border-radius: 25px;
  padding: 3vh 2vw;
  border: 1px solid $color-gray;

  h3 {
    color: $color-orange;
    font-weight: 600;
    font-family: "lato", sans-serif;
    padding-right: 2vw;
    padding-left: 1vw;
    font-size: 1vw;
  }

  h4 {
    color: $color-dark;
    font-weight: 500;
    font-family: "lato", sans-serif;
    font-size: 1vw;
  }

  img {
    width: 0.8vw;
    padding-right: 0;
  }
}

.step2 {
  display: flex;
  flex-flow: row;
  border-radius: 25px;
  padding: 3vh 2vw;
  margin-bottom: 7vh;
  border: 1px solid $color-gray;

  h3 {
    color: $color-orange;
    font-weight: 600;
    font-family: "lato", sans-serif;
    padding-right: 2vw;
    padding-left: 1vw;
    font-size: 1vw;
  }

  h4 {
    color: $color-dark;
    font-weight: 500;
    font-family: "lato", sans-serif;
    font-size: 1vw;
  }

  img {
    width: 0.8vw;
    padding-right: 0;
  }
}

.table-prices {
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 0.8rem;
  line-height: 25px;
  width: 60vw;

  td {
    border: 1px solid $color-gray;
    padding: 1vw 1vh;
    background-color: $color-white;
  }

  th {
    border: 1px solid $color-gray;
    padding: 2vh 4vw;
  }
}

.table-prices-container {
  border: 5px solid $color-pink;
  border-image-source: url(../img/hearts-border-image-1.png);
  border-image-slice: 15 18;
  border-image-repeat: repeat;
  margin-top: 3vh;
}

.container-lunch-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 6vw 0;
  background-color: $color-white;

  h2 {
    font-family: "lato", sans-serif;
    color: $color-black;
    font-size: 2vw;
    padding-bottom: 5vh;
  }

  span {
    height: 1px;
    padding: 1px;
    background-color: $color-orange-light;
    content: "";
    display: block;
    width: 3vw;
    margin-bottom: 3vh;
  }

  p {
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 70vw;
    padding: 3vh 3vw;
    font-family: "lato", sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 1.1vw;
    text-align: center;
  }
}

.table-lunch-options {
  text-align: center;
  font-family: "lato", sans-serif;
  font-size: 0.8rem;
  line-height: 25px;
  width: 70vw;
  margin-bottom: 5vh;

  thead {
    background-color: $color-gray-1;
  }

  tbody {
    border: 1px solid $color-gray;
  }

  td {
    border: 1px solid $color-gray;
    padding: 1vw 1vh;
    background-color: $color-white;
  }

  th {
    border: 1px solid $color-gray;
    padding: 2vh 4vw;
  }
}

.sendoptionsbtn {
  background-color: $color-orange;
  padding: 3vh 4vw;
  border-radius: 3px;
  border: 0;
  color: $color-white;
  text-decoration: none;
}
